/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 247, 247);
  color: rgb(100, 100, 100);
  box-sizing: border-box;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(images/ivan-bandura-rXNWenGhDm0-unsplash2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60vw;
  height: 100vh;
}

.logo, .credit {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  position: relative;
  top: 20vh;
  padding: 15px 0;
}

.credit {
  display: flex;
  justify-content: center;
  font-size:0.7rem;
  padding: 3px 0;
}

a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}


a:visited {
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description, .form, .submit {
  padding-left: 80px;
  padding-right: 150px;
}

.description {
  font-size: 24px;

}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

form {
  display: grid;
  grid-template-columns: repeat(2, auto);
}


input, button {
  min-width: 200px;
  margin-bottom: 12px;
}

.form p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 2px;
}

.focus {
  border: 1px solid rgb(24, 4, 197);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.error {
  border:1px solid rgb(197, 2, 2);
}

button {
  font-size: 16px;
  font-weight: bold;
  
  color: #FFFFFF;
  background-color: rgb(33, 105, 33);

  border: none;
  border-radius: 5px;

  padding: 10px 40px;
  cursor: pointer;
}
